.main-page {
  height: 100%;
  width: 100%;
}

.pageSize-selecor {
width: 20%;
}

/* .demo-toggles {
    display: flex;
    flex-direction: column;
  } */
  
  /* .demo-toggles * {
    margin-bottom: 16px;
  }
   */
  .demo-options {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 600px;
  }

  .option {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .demo-data {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .demo-paginator {
    width: 600px;
  }