<div class="main-page">
  <div class="demo-options">
    <label for="pageSizer">Items per page:</label>
    <select class="pageSize-selecor" name="pageSizer" id="pagesizer" #pagesizer
      (change)="setPageSizeOptions(pagesizer.value)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
    </select>
  </div>

  <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
    [pageSize]="pageSize" [showFirstLastButtons]="true" [pageIndex]="pageIndex"
    aria-label="Select page">
  </mat-paginator>

  <div class="demo-data">
    <div  *ngFor="let item of counter(paginator.getNumberOfPages()); let i = index">
      <div *ngIf="(i < 3)">
        {{i}}
      </div> 
      <div *ngIf="i === paginator.getNumberOfPages() /2">
        ...</div>
      <div *ngIf="( i > paginator.getNumberOfPages()-3)">
        {{i}}
      </div>
    </div>
  </div>
</div>